<!DOCTYPE html>
<html lang="ko"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorate="~{layout/layout}">

<head>
<title>Join</title>
<script type="text/javascript">
	$(document).ready(function(){
		$("#frm").validate({
			rules:{
				userId:{
					required:true,
					rangelength:[2,5]
				},
				password:{
					required:true
				}
			},
			messages:{
				userId:{
					required:"필수 값 입니다.",
					rangelength:"최소 {0}, 최대 {1} 값 입니다."
				},
				password:{
					required:"필수 값 입니다."
				}
			},
			ignore:[]
		});
		
		$("#login").click(function(){
			$("#frm").attr("action", "/login/proc");
			$("#frm").submit();
		});
	});
</script>
</head>
<body>	
	<section layout:fragment="content">
		<article class="art-join">
			<div class="frm-join">
				<h1>Login</h1>
				<form id="frm" name="frm" method="post" th:object="${member}">
				<div class="in-txt">
					<label for="userId">ID</label>
					<div class="in-msg">
						<input type="hidden" id="seq" th:field="*{seq}">
						<input type="text" id="userId" th:field="*{userId}">
					</div>
				</div>
				<div class="in-txt">
					<label for="password">PASS</label>
					<div class="in-msg">
						<input type="password" id="password" th:field="*{password}">
					</div>
				</div>
				<div th:if="${param.error}">
					error: <p th:text="${session.SPRING_SECURITY_LAST_EXCEPTION.message}" />
				</div>
				</form>
				<div class="btn-alr">
					<button id="login">login</button>
				</div>
			</div>
		</article>
	</section>
</body>	
</html>