<!DOCTYPE html>
<html lang="ko"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorate="~{layout/layout}">

<head>
<title>Join</title>
<script type="text/javascript">
	$(document).ready(function(){
		$("#frm").validate({
			rules:{
				userId:{
					required:true,
					rangelength:[2,5]
				},
				password:{
					required:true
				},
				name:{
					required:true
				},
				roles:{
					required:true
				}
			},
			messages:{
				userId:{
					required:"필수 값 입니다.",
					rangelength:"최소 {0}, 최대 {1} 값 입니다."
				},
				password:{
					required:"필수 값 입니다."
				},
				name:{
					required:"필수 값 입니다."
				},
				roles:{
					required:"필수 값 입니다."
				}
			},
			ignore:[],
			submitHandler: function() {
				if(confirm("회원가입이 됩니다.")){
					return true;
				}
			},
			errorPlacement: function(error, element) {
				if(element.is(":radio") || element.is(":checkbox")){
					element.closest(".ra-chk").after(error);
				}else{
					element.after(error);
				}
			}
		});
		
		$("#action").click(function(){
			$("#frm").attr("action", "/member/save");
			$("#frm").submit();
		});
		
		$("#update").click(function(){
			$("#frm").attr("action", "/member/update");
			$("#frm").submit();
		});
		
		$("#list").click(function(){
			location.href="/member";
		});
	});
</script>
</head>
<body>	
	<section layout:fragment="content">
		<article class="art-join">
			<div class="frm-join">
				<h1>Join</h1>
				<form id="frm" name="frm" method="post" th:object="${member}">
				<div class="in-txt">
					<label for="userId">ID</label>
					<div class="in-msg">
						<input type="hidden" id="seq" th:field="*{seq}">
						<input th:if="*{userId == null}" type="text" id="userId">
						<span th:unless="*{userId == null}" th:text="*{userId}" />					
					</div>
				</div>
				<div class="in-txt">
					<label for="password">PASS</label>
					<div class="in-msg">
						<input type="password" id="password" th:field="*{password}">
					</div>
				</div>
				<div class="in-txt">
					<label for="name">NAME</label>
					<div class="in-msg">
						<input type="text" id="name" th:field="*{name}">
					</div>
				</div>
				<div class="ra-chk">
					<input type="radio" id="roles1" value="ADMIN" th:field="*{roles}">
					<label for="roles1">Admin</label>
					
					<input type="radio" id="roles2" value="USER" th:field="*{roles}">
					<label for="roles2">User</label>
				</div>
				</form>
				<div class="btn-alr">
					<button id="action" th:if="${#strings.isEmpty(member.seq)}">submit</button>
					<button id="update" th:if="${not #strings.isEmpty(member.seq)}">update</button>
					<button id="list">list</button>
				</div>
			</div>
		</article>
	</section>
</body>	
</html>